services:
    app-mysql:
        image: mysql:8.0
        container_name: app-mysql
        cap_add:
          - SYS_NICE  # CAP_SYS_NICE
        ports:
          - "3305:3306"
        networks: 
            - network_app
        volumes:
          - ./run/var:/var/lib/mysql
        environment:
          # Usar random por defecto para prd
          - MYSQL_ROOT_PASSWORD=securerootpassword 
          - MYSQL_DATABASE=${DB_DATABASE}
          - MYSQL_USER=${DB_USERNAME}
          - MYSQL_PASSWORD=${DB_PASSWORD}
          
    app-laravel:
        build: ./
        container_name: app-laravel
        ports:
          - "8080:80"
        volumes:
          - .:/var/www/html/
          - ./vhost.conf:/etc/apache2/sites-available/000-default.conf
        depends_on:
          - app-mysql
        links:
          - app-mysql
        networks: 
          - network_app
        
        command: >
                bash -c "cd /var/www/html/ 
                && apache2-foreground"

networks: 
  network_app:
    driver: bridge