APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

BCRYPT_ROUNDS=12

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

QUEUE_CONNECTION=database
CACHE_STORE=database

REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# AWS / MinIO Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_URL=


# File Upload Configuration
FILE_UPLOAD_MAX_SIZE_MB=
STORAGE_QUOTA_PER_COMMERCE_GB=
DOCUMENT_UPLOAD_TOKEN_EXPIRATION_MINUTES=
ORPHANED_CLEANUP_AFTER_HOURS=
DELETE_OLD_FILES_AFTER_REPLACEMENT=

L5_SWAGGER_CONST_HOST=

AUTH_GUARD=sanctum

# CORS Configuration
CORS_ALLOWED_ORIGINS=
CORS_MAX_AGE=
CORS_SUPPORTS_CREDENTIALS=

# Frontend URLs
FRONTEND_URL=
FRONTEND_PROD_URL=

# Sanctum Configuration (CORS related)
SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN=

ENABLE_SEEDING=
DEMO_SEEDING=

RESEND_API_KEY=